<div class="relative inline-flex items-center justify-center gap-2 group w-fit">
   <div
      class="bg-green-500 absolute -inset-1 pulse-animation rounded-full blur-lg"
   >
   </div>
   <span
      class="bg-zinc-900 text-white rounded-full px-4 py-1 z-10 cursor-pointer"
   >
      Disponible para trabajar
   </span>
</div>
