<footer
   class="text-white/75 fade-in sweep-up text-sm pb-10 text-center lg:max-w-[1000px] max-lg:max-w-[900px]"
>
   © {new Date().getFullYear()} Kenn Marcucci. Este portfolio se inspiró en enfoques
   de diseño encontrados en&nbsp;
   <a
      href={"https://porfolio.dev"}
      target="_blank"
      class="hover:underline font-semibold"
   >
      midudev
   </a>
</footer>
